@model Pet_Care_Organizer.Models.Supplies


<h2>Delete Supply</h2>

<h3>Are you sure you want to delete this supply?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LowThreshold)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LowThreshold)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EstimatedUsagePerDay)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EstimatedUsagePerDay)
        </dd>

        @if (!string.IsNullOrEmpty(Model.Notes))
        {
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        }
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="mt-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>